<div class="row">
    <product-card 
        (preview)="handler($event)"
        [product]="product"></product-card>
    <product-card [product]="product"></product-card>
    <product-card [product]="product"></product-card>
    <product-card [product]="product"></product-card>
</div>


<h4>With Input Decorator</h4>
<div class="row">
    <product-card-two [product]="product"></product-card-two>
    <product-card-two [product]="product"></product-card-two>
    <product-card-two [product]="product"></product-card-two>
    <product-card-two [product]="product"></product-card-two>
    <product-card-two [product]="product"></product-card-two>
</div>


<app-sbtype></app-sbtype>
<div sb-type></div>

<div sel-attr></div>

<div class="by-class"></div>